@model MeetingRoomInfoModel
<table class="table-bordered table-condensed table-hover" width="100%">
    <tbody>
        <tr>
            <td align="center">
                <h3>会议室使用申请</h3>
            </td>
        </tr>
        <tr>
            <td>
                <label for="txtApplyName" class="control-label x90">申请人：</label>
                @Html.TextBoxFor(m => m.ApplyName, new { @class = "inputValidate", @size = "20", @data_rule = "required;length[~20]" })
            </td>
        </tr>
        <tr>
            <td>
                <label for="txtName" class="control-label x90">会议室名称：</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "inputValidate", @size = "20", @data_rule = "required;length[~20]" })
            </td>
        </tr>
        <tr>
            <td>
                <label for="txtUsedTime" class="control-label x90">使用时间：</label>
                @Html.TextBoxFor(m => m.UsedTime, new { @class = "inputValidate", @size = "30", @data_toggle = "datepicker", @data_pattern = "yyyy-MM-dd HH:mm:ss", @data_rule = "required;datetime" })
            </td>
        </tr>
        <tr>
            <td>
                <label for="txtApplyTime" class="control-label x90">申请时间：</label>
                @Html.TextBoxFor(m => m.ApplyTime, new { @class = "inputValidate", @size = "30", @data_toggle = "datepicker", @data_pattern = "yyyy-MM-dd HH:mm:ss", @data_rule = "required;datetime" })
            </td>
        </tr>
        <tr>
            <td>
                <label for="txtRemark" class="control-label x85">使用说明：</label>
                @Html.TextAreaFor(m => m.Remark, 5, 30, new { @class = "inputValidate form-control", @data_rule = "length[~250]" })
            </td>
        </tr>
    </tbody>
</table>