@model Hei10.WebSite.Areas.Admin.Models.ConsultClassifyModel
<script type="text/javascript"> 
    var tabId = '@Request["tabId"]';
    function consultClassify_callback(json) {
        if (json.Error) {
            for (var i = 0; i < json.Error.length; i++) {
                $('#' + json.Error[i].Key).next('span').html('<span class="msg-wrap n-error" role="alert" style="left: 0px; opacity: 1;"><span class="n-arrow"><b>◆</b><i>◆</i></span><span class="glyphicon glyphicon-remove-circle" style="top: -1px; font-size: 14px; vertical-align: middle;"></span><span class="n-msg">' + json.Error[i].Value + '</span></span></span>').show();
            }
        } else {
            $(this)
                .bjuiajax('ajaxDone', json) // 信息提示
                .navtab('closeCurrentTab') //关闭当前窗口
                .navtab('switchTab', tabId) // 刷新列表页
                .navtab('reloadForm', false, tabId);
        }

    }
</script>
@using (Html.BeginForm("Edit", "ConsultClassify", FormMethod.Post, new { @data_toggle = "validate", @data_alertmsg = "false", @data_callback = "consultClassify_callback" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="bjui-pageContent">
        <table class="table-bordered table-condensed table-hover" width="100%">
            <tbody> 
                <tr>
                    <td>
                        <label for="" class="control-label x85">@Html.DisplayNameFor(m => m.Title)：</label>
                        @Html.TextBoxFor(m => m.Title, new { @class = "input-lg w500", @data_rule = "required;length[~100]" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" class="control-label x85">@Html.DisplayNameFor(m => m.Contents)：</label>
                        @Html.TextAreaFor(m => m.Contents, new { cols = "60", rows = "10", @data_rule = "required;length[~500]" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" class="control-label x85">@Html.DisplayNameFor(m => m.Sort)：</label>
                        @Html.TextBoxFor(m => m.Sort, new { @class = "input-lg w500", @data_rule = "required;digits;" })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bjui-pageFooter">
        <ul>
            <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
            <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
        </ul>
    </div>
}
