@using Hei10.Core.Extensions
@model IPagedList<ArticleBizModel>
@{
    SysUser user = ViewBag.CurrUser;
}

<script type="text/javascript" language="javascript">
    var articleClassify = function () {
        var classifyJson;
        $.ajaxSettings.async = false;
        $.get('@(Url.Action("GetZTreeJson","ArticleClassify"))', function(data) {
            classifyJson = data;
        });
        return classifyJson;
    }

    function S_NodeCheck(e, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj(treeId),
            nodes = zTree.getCheckedNodes(true);
        var ids = '', names = '';

        for (var i = 0; i < nodes.length; i++) {
            ids += ',' + nodes[i].id;
            names += ',' + nodes[i].name;
        }
        if (ids.length > 0) {
            ids = ids.substr(1), names = names.substr(1);
        }
        var $from = $('#' + treeId).data('fromObj');

        if ($from && $from.length) {
            $from.val(names);
            $('#classifyId').val(ids);
        }

    }

//单击事件
    function S_NodeClick(event, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj(treeId);

        zTree.checkNode(treeNode, !treeNode.checked, true, true);

        event.preventDefault();
    }

    var setNodeChecked = function() {
        var zTree = $.fn.zTree.getZTreeObj("articleClassifySelect");
        var id = '@(ViewBag.ClassifyId)';
        if (id == "") {
            return;
        }
        var node = zTree.getNodeByParam("id", id, null);
        zTree.checkNode(node, true, true);
    }
    $('#classifyId').val('@(ViewBag.ClassifyId)');
    $('#classifyName').val('@(ViewBag.ClassifyName)');
    $('.get-verification-token').attr({ "data-data": "__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val() });
</script>
<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="@Url.Action("Index")" method="get">
        <input type="hidden" name="pageSize" value="@Model.PageSize">
        <input type="hidden" name="pageCurrent" value="@Model.PageNumber">
        <input type="hidden" name="tabId" value="@Request["tabId"]" />
        <input type="hidden" name="orderField" value="@(Request["orderField"]??"Article.ArticleDateTime")">
        <input type="hidden" name="orderDirection" value="@(Request["orderDirection"]??"desc")">
        <div class="bjui-searchBar"> 
            <label>搜索关键词：</label><input type="text" id="keyWord" value="@(ViewBag.KeyWord)" name="keyWord" class="form-control" />&nbsp;
            <label>所属分类:</label>
            @Html.Hidden("classifyId")
            <input type="text" name="classifyName" id="classifyName" onclick="setNodeChecked()" data-toggle="selectztree" size="18" data-tree="#articleClassifySelect" readonly />
            <ul id="articleClassifySelect" class="ztree hide" data-toggle="ztree" data-nodes="articleClassify" data-expand-all="true" data-check-enable="true" data-chk-style="radio" data-radio-type="all" data-on-check="S_NodeCheck" data-on-click="S_NodeClick">
            </ul>
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" onclick="$(this).navtab('reloadForm', true);" data-icon="undo">清空查询</a>
            @if (user.HasButton(SysButton.Edit))
            {
                <a href="@Url.Action("Edit",new { tabId = Request["tabId"]})" class="btn btn-green" data-toggle="navtab" data-id="article-edit" data-reload-warn="本页已有打开的内容，确定将刷新本页内容，是否继续？" data-title="添加文章信息">添加</a>
            }
            @if (user.HasButton(SysButton.Delete))
            {
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn-default dropdown-toggle" data-toggle="dropdown" data-icon="copy">复选框-批量操作<span class="caret"></span></button>
                        <ul class="dropdown-menu right" role="menu">
                            <li><a href="@Url.Action("BatchDelete", "Article")" class="get-verification-token" data-toggle="doajaxchecked" data-confirm-msg="确定要删除选中项吗？" data-idname="ids" data-group="ids">删除选中</a></li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </form>
</div> 
<div class="bjui-pageContent tableContent">
    <table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
        <thead>
            <tr>
                <th width="26"><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
                <th data-order-field="Article.Title">标题</th>
                <th data-order-field="ArticleClassifyName">所属分类</th>
                <th data-order-field="Article.Author">作者</th>
                <th data-order-field="Article.CommonStatus">状态</th>
                <th data-order-field="Article.ViewCount">浏览次数</th>
                <th data-order-field="Article.ArticleDateTime">发布时间</th>
                <th width="140">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="@(item.Article.Id)">
                    <td><input type="checkbox" name="ids" data-toggle="icheck" value="@(item.Article.Id)"></td>
                    <td>@item.Article.Title</td>
                    <td>@item.ArticleClassifyName</td>
                    <td>@item.Article.Author</td>
                    <td>@item.Article.CommonStatus.GetDescriotion()</td>
                    <td>@item.Article.ViewCount</td>
                    <td>@item.Article.ArticleDateTime.ToDisplayDateTime()</td>
                    <td>
                        @if (user.HasButton(SysButton.Edit))
                        {
                            <a href="@Url.Action("Edit", new {id = item.Article.Id,tabId = Request["tabId"]})" class="btn btn-green" data-toggle="navtab" data-id="article-edit" data-reload-warn="本页已有打开的内容，确定将刷新本页内容，是否继续？" data-title="编辑-@(item.Article.Title)">编辑</a>
                        }
                        @if (user.HasButton(SysButton.Delete))
                        {
                            <a href="@Url.Action("BatchDelete", "Article", new {ids = item.Article.Id})" class="btn btn-red get-verification-token" data-toggle="doajax" data-confirm-msg="确定要删除该行信息吗？">删除</a>
                        }
                        <a href="@Url.ArticleDetail(item.Article.Id)" class="btn btn-orange" target="_blank">详情</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.AntiForgeryToken()
@{ Html.RenderPartial("_Footer_Pager", Model);} 
