@model  PartnerModel
<script type="text/javascript">
    function doc_upload_success(file, data) {
        var json = $.parseJSON(data);
        $(this).bjuiajax('ajaxDone', json);
        if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
            $.CurrentDialog.find('#LogoUrl').val(json.filePath);
            $.CurrentDialog.find('#doc_span_pic').html('已上传图片：<img src="' + json.imgPath + '" width="100">');
        }
    };
    var tabId = '@Request["tabId"]';
    function partner_callback(json) {
        if (json.Error) {
            for (var i = 0; i < json.Error.length; i++) {
                $('#' + json.Error[i].Key).next('span').html('<span class="msg-wrap n-error" role="alert" style="left: 0px; opacity: 1;"><span class="n-arrow"><b>◆</b><i>◆</i></span><span class="glyphicon glyphicon-remove-circle" style="top: -1px; font-size: 14px; vertical-align: middle;"></span><span class="n-msg">' + json.Error[i].Value + '</span></span></span>').show();
            }
        } else {
            $(this)
            .bjuiajax('ajaxDone', json) // 信息提示
            .dialog('closeCurrent')
            .navtab('switchTab', tabId)// 刷新列表页
            .navtab('reloadForm',false, tabId);// 刷新列表页
        }
    };
</script>
@using (Html.BeginForm("Edit", "Partner", FormMethod.Post, new { @data_toggle = "validate", @data_alertmsg = "false", @data_callback = "partner_callback" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="bjui-pageContent">
        <table class="table-bordered table-condensed table-hover">
            <tbody>
                <tr>
                    <td>
                        <label for="" class="control-label x85">@Html.DisplayNameFor(m => m.Name)：</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "input-lg w500", @data_rule = "required;length[~50]" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" class="control-label x85">@Html.DisplayNameFor(m => m.Url)：</label>
                        @Html.TextBoxFor(m => m.Url, new { @class = "input-lg w500", @data_rule = "required;length[~250]" })
                    </td>
                </tr>
                <tr>
                    <td class="h40">
                        <label for="" class="control-label x85">@Html.DisplayNameFor(m => m.Sort)：</label>
                        @Html.TextBoxFor(m => m.Sort, new { @class = "input-lg w500", @data_rule = "required;integer;range[1~]" })
                    </td>
                </tr>
                <tr>
                    <td class="h60">
                        <label for="" class="control-label x85">@Html.DisplayNameFor(m => m.LogoUrl)：</label>
                        <div style="display:inline-block; vertical-align:middle;">
                            <div id="doc_pic_up" data-toggle="upload" data-uploader="@Url.Action("BatchUpload","Attachment",new { src = TableSource.Partner })"
                                 data-file-size-limit="1024000000"
                                 data-file-type-exts="*.jpg;*.png;*.gif;*.mpg"
                                 data-multi="false"
                                 data-on-upload-success="doc_upload_success"
                                 data-icon="cloud-upload"></div>
                            @Html.HiddenFor(m => m.LogoUrl,new { @data_rule = "required" })
                        </div>
                        <span id="doc_span_pic">
                            @if (!string.IsNullOrEmpty(Model.LogoUrl))
                            {
                                <img src="@Url.ThumbUrl(Model.LogoUrl, "100x100")" alt="" width="100" style="margin-top: 10px;" />
                            }
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bjui-pageFooter">
        <ul>
            <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
            <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
        </ul>
    </div>
}

